@import "./css/reset.css";
@import "./css/vars.css";
@import "./css/header.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Georgia;
  padding: 2rem;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

/** Dit is hier wat commentaar, dat er uit moet in production**/

p {
  line-height: 1.8;
}

strong {
  font-weight: bold;

  @nest p & {
    /** enkel om @nest  voorbeeld aan te halen**/
    color: green;
  }
}

img {
  filter: grayscale(100%);
  margin: 1rem auto;
  display: block;

  &:hover {
    filter: none;
  }
}

@media screen and (width >= 500px) {
  h1 {
    font-size: 6vw;
  }
}
